__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.DS_Store
*.log
uploads/
models/
*.db
node_modules/
dist/
build/
.vite/
//忽略.md文件
//*.md
//忽略.docx文件
//*.docx
//忽略2026-6-28多模态数据
多模态数据/
*.tar.gz
